name: Java 21 CI (MC 1.20.6+)

on:
    push:
        branches:
            - master
            - 'dev/**'
    pull_request:

jobs:
    prepare:
        name: Java ${{ env.JAVA_VERSION }} CI - Parallelize Tests
        if: "! contains(toJSON(github.event.commits.*.message), '[ci skip]')"
        uses: ./.github/workflows/parallelize-tests.yml
        with:
            environments: 1.20.6,1.21.3,1.21.4,1.21.5,1.21.8,1.21.10
            parallel_jobs: 3
            java_version: 21

    build:
        name: Java ${{ needs.prepare.outputs.java_version }} CI (${{ matrix.display }})
        needs: prepare
        runs-on: ubuntu-latest
        strategy:
            matrix: ${{ fromJSON(needs.prepare.outputs.matrix) }}
        env:
            JAVA_VERSION: ${{ needs.prepare.outputs.java_version }}
        steps:
            - uses: actions/checkout@v5
              with:
                  submodules: recursive
            - name: validate gradle wrapper
              uses: gradle/actions/wrapper-validation@v4
            - name: Set up JDK ${{ env.JAVA_VERSION }}
              uses: actions/setup-java@v5
              with:
                  java-version: '${{ env.JAVA_VERSION }}'
                  distribution: 'adopt'
                  cache: gradle
            - name: Grant execute permission for gradlew
              run: chmod +x gradlew
            - name: Build Skript and run test scripts
              run: ./gradlew clean customTest -PtestEnvs="${{ matrix.envs }}" -PtestEnvJavaVersion=${{ env.JAVA_VERSION }}
            - name: Upload Nightly Build
              uses: actions/upload-artifact@v4
              if: success() && matrix.id == 1
              with:
                  name: skript-nightly
                  path: build/libs/*
